doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    |     
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    |     
    title Contact us - Warehouse
    |     
    meta(content="IE=edge", http-equiv="x-ua-compatible")
    |     
    meta(content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", name="viewport")
    |     
    meta(content="yes", name="apple-mobile-web-app-capable")
    |     
    meta(content="yes", name="apple-touch-fullscreen")
    |     
    link(rel="icon", href="/img/warehouse_favicon.png", type="image/x-icon")
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700", rel="stylesheet", type="text/css")
    // Icons
    link(href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", media="all", rel="stylesheet", type="text/css")
    // Styles
    link(href="css/keyframes.css", rel="stylesheet", type="text/css")
    |     
    link(href="css/materialize.min.css", rel="stylesheet", type="text/css")
    |     
    link(href="css/swiper.css", rel="stylesheet", type="text/css")
    |     
    link(href="css/swipebox.min.css", rel="stylesheet", type="text/css")
    |     
    link(href="css/style.css", rel="stylesheet", type="text/css")
    // Start of Async Drift Code
    script.
      !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
      return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
      }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
      }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('84n3es628e3x');
      drift.on('ready', function(api, payload){
      api.showWelcomeMessage();
      })
    // End of Async Drift Code
  |   
  body
    div(id="main contact_us_content")
      // Main Container
      // Page Contents
      #content-success.main.animated.fadein
        // Header
        .hero-header.hero-small.m-b-20.animated.fadeindown
          h1.hero-title.primary-text Contact Us
        |       
        h2.contact_us.animated.fadeinup Don't be shy, send us a message.
      // End of Page Contents
      // Menu Trigger
      .menu-trigger.z-depth-2
        #menu-icon
          span
          |           
          span
          |           
          span
          |           
          span
      // Menu
      nav#menu.menu
        .menu-navigation
          ul.full-menu.collapsible
            img#nav_logo(src="/img/warehouse_full_black.png")
            |                       
            hr#nav_divider
            |
            li
              a.no-child(onclick="homeRedirect()" href="/") Home
            |           
            li
              a.no-child(onclick="featuredRedirect()" href="/featured") Partners          
            |           
            li
              a.no-child(onclick="contactRedirect()" href="/contact") Contact
      // End of Menu
    // End of Main Container
    script(src="js/jquery-1.12.2.js")
    |     
    script(src="js/modernizr.js")
    |     
    script(src="js/jquery.swipebox.min.js")
    |     
    script(src="js/jquery.smoothState.min.js")
    |     
    script(src="js/materialize.min.js")
    |     
    script(src="js/swiper.min.js")
    |     
    script(src="js/jquery.mixitup.min.js")
    |     
    script(src="js/masonry.min.js")
    |     
    script(src="js/chart.min.js")
    |     
    script(src="js/functions.js")
