doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    |   
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    |   
    title Shop - Warehouse
    |   
    meta(content="IE=edge", http-equiv="x-ua-compatible")
    |   
    meta(content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", name="viewport")
    |   
    meta(content="yes", name="apple-mobile-web-app-capable")
    |   
    meta(content="yes", name="apple-touch-fullscreen")
    |   
    link(rel="icon", href="/img/warehouse_favicon.png", type="image/x-icon")
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400", rel="stylesheet")
    |   
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700", rel="stylesheet", type="text/css")
    // Icons
    link(href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", media="all", rel="stylesheet", type="text/css")
    // Styles
    link(href="/css/keyframes.css", rel="stylesheet", type="text/css")
    |   
    link(href="/css/materialize.min.css", rel="stylesheet", type="text/css")
    |   
    link(href="/css/swiper.css", rel="stylesheet", type="text/css")
    |   
    link(href="/css/swipebox.min.css", rel="stylesheet", type="text/css")
    |   
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    #main
      // Main Container
      // Page Contents
      #content.main.animated.fadein
        .autoflow
          // Shop banner
          .hero-header.bg-1.animated.fadeindown
            img#bannerImg(src= shop.banner, alt="")
            |           
            h1#shopname.hero-title #{shop.name}
            |           
            .opacity-overlay
          // Gallery
          .grid.m-t-20.animated.fadeinup.delay-2
            each product, i in products
              .grid-item.gallery-item-card
                a.catalogue_placeholder.no-smoothState(onclick="getID(this)" id= product._id)
                  
                  img#catalogue(src= product.slideshow[0])
                  |                 
                  .gallery-item-header
                    .gallery-item-author
                      span#product-title #{product.title}
                      |                     
                      span#product-price.small KSh #{product.price}
              |                       
            // End Gallery
        |       
        .clr      
      // End of Page Contents
      // Menu Trigger
      .menu-trigger.z-depth-2
        #menu-icon
          span
          |         
          span
          |         
          span
          |         
          span
      // Menu
      nav#menu.menu
        .menu-navigation
          ul.full-menu.collapsible
            img#nav_logo(src="/img/warehouse_full_black.png")
            |                       
            hr#nav_divider
            |
            li
              a.no-child(onclick="homeRedirect()" href="") Home
            |           
            li
              a.no-child(onclick="featuredRedirect()" href="") Partners          
            |           
            li
              a.no-child(onclick="contactRedirect()" href="") Partners
      // End of Menu
    // End of Main Container
    script(src="/js/jquery-1.12.2.js")
    |   
    script(src="/js/modernizr.js")
    |   
    script(src="/js/jquery.swipebox.min.js")
    |   
    script(src="/js/jquery.smoothState.min.js")
    |   
    script(src="/js/materialize.min.js")
    |   
    script(src="/js/swiper.min.js")
    |   
    script(src="/js/jquery.mixitup.min.js")
    |   
    script(src="/js/masonry.min.js")
    |   
    script(src="/js/chart.min.js")
    |   
    script(src="/js/functions.js")
    |   
    script(type="text/javascript").
      function getID(theKey) {
      //Redirect
      key = theKey.id;
      var str = "/shop/view?p=" + key ;
      window.location.href = str;
      }
